[submodule "duckdb"]
	path = vendor/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "extension-ci-tools"]
	path = vendor/extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
